name: Deploy Debezium COS Fleet Catalog config

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - '.github/workflows/deploy.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    container: openshift/origin-cli:latest
    steps:
      - name: Checkout Debezium COS Fleet Catalog
        uses: actions/checkout@v2
      - name: Install OpenShift CLI tools
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          source: "mirror"
          skip_cache: "true"
          oc: "latest"
      - name: Verify OpenShift CLI tools
        run: |
          oc version
      - name: Log in and set context
        uses: redhat-actions/oc-login@v1
        with:
          openshift_server_url: ${{ secrets.K8S_CLUSTER_DEV }}
          openshift_token: ${{ secrets.K8S_CLUSTER_DEV_TOKEN }}
          insecure_skip_tls_verify: false
          namespace: ${{ env.K8S_CLUSTER_DEV_NAMESPACE }}
      - name: Deploy Debezium COS Fleet Catalog ConfigMaps
        run: >
          cd src/main/resources/META-INF/resources/ ;
          for dir in $(ls -d */ | cut -f1 -d'/') ; do
            echo "Deploying ${dir}..." ;
            oc create configmap "connector-catalog-debezium-${dir}" --from-file=${dir}/ --namespace ${{ secrets.K8S_CLUSTER_DEV_NAMESPACE }} -o yaml --dry-run | oc replace -f - ;
          done
      - name: Restart FleetManager
        run: |
          oc rollout restart deployment/kas-fleet-manager --namespace ${{ secrets.K8S_CLUSTER_DEV_NAMESPACE }}
